.overflow-ellipsis {
    text-overflow: ellipsis;
  }
  p {
    width: 200px;

    padding: 2px 5px;
  
    /* Les deux règles suivantes sont nécessaires pour text-overflow */
    white-space: nowrap;
    overflow: hidden;
  }